.wrap{width: 100%;}
.logo{width: 100%;background: #dfdfdf;}
.logo div{width: 1200px;height: 90px;margin: 0px auto;text-align: left;overflow: hidden;}
.menu{width: 1020px;margin: 0px auto;}
.menu dl{display: block;height: 60px;letter-spacing: 0.2em;font-family: "黑体"；}
.menu dl dd{display:block; float:left; width:170px; height:70px; position:relative; z-index:1001;}
.menu strong a{display:block; width:140px; height:44px; line-height:44px; border:1px solid #fff; margin:12px 0 0 15px; text-align:center; font-size:1.6em; color:#000;}
.menu strong a:hover{border:1px solid #707070;}
.menu strong a.on{border:1px solid #707070;}
.menu ul{width:142px; position:absolute; top:70px; left:13px; z-index:1002; letter-spacing:0.1em; display:none;}
.menu ul li{}
.menu li a{display:block; width:142px; height:46px; line-height:46px; text-align:center; filter:Alpha(opacity=80);background:#fff; background:rgba(255,255,255,0.8); color:#222; font-size:1.4em; font-weight:bold;}
.menu li a:hover{background:#c6c6c6;}
