* {margin: 0px; padding: 0px; border: 0px currentColor; border-image: none;}
html {background: rgb(255, 255, 255); font-family: "����","Microsoft Yahei","΢���ź�",Tahoma,Arial,Helvetica,STHeiti; font-size: 10px;}
body {background: rgb(255, 255, 255); font-family: "����","Microsoft Yahei","΢���ź�",Tahoma,Arial,Helvetica,STHeiti; font-size: 10px;}
dl {list-style: none;}
dt {list-style: none;}
dd {list-style: none;}
ul {list-style: none;}
ol {list-style: none;}
li {list-style: none;}
h1 {font-size: 1em; font-weight: normal;}
h2 {font-size: 1em; font-weight: normal;}
h3 {font-size: 1em; font-weight: normal;}
h4 {font-size: 1em; font-weight: normal;}
h5 {font-size: 1em; font-weight: normal;}
h5 {font-size: 1em; font-weight: normal;}
img {border: 0px currentColor; border-image: none;}
a {text-decoration: none;}
i {font-style: normal}
em {font-style: normal;}
strong {font-weight: normal;}
hr {border-width: medium medium 1px; border-style: none none solid; border-color: currentColor currentColor rgb(198, 198, 198); margin: 30px 0px; border-image: none;}
.wrap{width: 100%;}
.logo{background:rgb(223, 223, 223);width: 100%;}
.logo div{margin:auto;width: 1200px;height: 90px;text-align: left;overflow: hidden;}
.menu{margin: 0px auto;width: 1020px;}
.menu dl{height: 70px;letter-spacing: 0.2rem;font-family: "����";display: block;}
.menu dl dd {width: 160px;height: 70px;float: left;display: block;position: relative;z-index: 1001;}
.menu strong a {margin: 12px 0px 0px 15px;border:1px solid rgb(255, 255, 255);border-image: none;width: 140px;height: 44px;text-align: center;color: rgb(0, 0, 0); line-height: 44px; font-size: 1.6em; display: block;}
.menu strong a:hover {border: 1px solid rgb(112, 112, 112);border-image: none;}
.menu strong a.on {border: 1px solid rgb(112, 112, 112);border-image: none;}
.menu ul {left: 13px; top: 70px;width: 142px;letter-spacing: 0.1em;display: none;position:absolute;z-index: 1002;}
.menu ul li { }
.menu li a {background: rgb(255, 255, 255, 0.8);width: 142px;height: 46px;text-align: center;color: rgb(34, 34, 34);line-height: 46px;font-size: 1.4em;font-weight: blod;display: block;}
.menu li a:hover{background: rgb(198, 198, 198);}
.banner-box {  width: 100%;  margin: 0px auto;  overflow: hidden;  position: relative;  }
.banner-box .list {  width: 1000%;  overflow: hidden;  position: relative;  left: 0;  top: 0;  }
.banner-box .list li {  width: 10%;  float: left;  overflow: hidden;  }
.banner-box .list li:first-child {  display: block;  }
.banner-box .list li a img {  width: 100%;  display: block;height:650px;outline: none; }
.banner-box .prev,
.banner-box .next {  position: absolute;  width: 100px;  height: 100px;  font-size: 50px;  line-height: 100px;  background-color: rgba(0, 0, 0, 0.4);  top: 50%;  margin-top: -50px;  color: #ffffff;  text-align: center;  cursor: pointer;  }
.banner-box .prev:hover,
.banner-box .next:hover {  background-color: rgba(0, 0, 0, 0.6);  }
.banner-box .prev {  left: 0;  }
.banner-box .next {  right: 0;  }
.banner-box .banner-pages {  position: absolute;  bottom: 20px;  height: 20px;  width: 100%;font-size: 0;left: 530px;top: 450px;  }
.banner-box .banner-pages span {  width: 10px;  height: 10px;  background-color: #cccccc;  display: inline-block;  border-radius: 50%;  -moz-border-radius: 50%;  -webkit-border-radius: 50%;  position: relative;  cursor: pointer;  margin: 0 6px;  line-height: 30px;  text-align: center;  z-index: 1;  font-size: 0px;  }
.banner-box .banner-pages span.on {  background-color: #f99c38;  color: #ffffff;  }
.hbTag{width:300px; height:300px; position:absolute; left:430px; top:120px; background:rgba(255,255,255,0.5)!important; filter:Alpha(opacity=50); background:#fff; font-family:"microsoft yahei","微软雅黑";}
.hbTagLine{position:relative; width:286px; height:286px; border:#fff solid 1px; margin:6px;}
.hbTgaLine h1{position: relative;font-size: 47px;left: 20px;color: white;top: 35px;}
.hbTagLine .p{position: relative;font-size: 18px;}

