* {margin: 0px; padding: 0px; border: 0px currentColor; border-image: none;}
html {background: rgb(255, 255, 255); font-family: "����","Microsoft Yahei","΢���ź�",Tahoma,Arial,Helvetica,STHeiti; font-size: 10px;}
body {background: rgb(255, 255, 255); font-family: "����","Microsoft Yahei","΢���ź�",Tahoma,Arial,Helvetica,STHeiti; font-size: 10px;}
dl {list-style: none;}
dt {list-style: none;}
dd {list-style: none;}
ul {list-style: none;}
ol {list-style: none;}
li {list-style: none;}
h1 {font-size: 1em; font-weight: normal;}
h2 {font-size: 1em; font-weight: normal;}
h3 {font-size: 1em; font-weight: normal;}
h4 {font-size: 1em; font-weight: normal;}
h5 {font-size: 1em; font-weight: normal;}
h5 {font-size: 1em; font-weight: normal;}
img {border: 0px currentColor; border-image: none;}
a {text-decoration: none;}
i {font-style: normal}
em {font-style: normal;}
strong {font-weight: normal;}
hr {border-width: medium medium 1px; border-style: none none solid; border-color: currentColor currentColor rgb(198, 198, 198); margin: 30px 0px; border-image: none;}
.wrap{width: 100%;}
.logo{background:rgb(223, 223, 223);width: 100%;}
.logo div{margin:auto;width: 1200px;height: 90px;text-align: left;overflow: hidden;}
.menu{margin: 0px auto;width: 1020px;}
.menu dl{height: 70px;letter-spacing: 0.2rem;font-family: "����";display: block;}
.menu dl dd {width: 160px;height: 70px;float: left;display: block;position: relative;z-index: 1001;}
.menu strong a {margin: 12px 0px 0px 15px;border:1px solid rgb(255, 255, 255);border-image: none;width: 140px;height: 44px;text-align: center;color: rgb(0, 0, 0); line-height: 44px; font-size: 1.6em; display: block;}
.menu strong a:hover {border: 1px solid rgb(112, 112, 112);border-image: none;}
.menu strong a.on {border: 1px solid rgb(112, 112, 112);border-image: none;}
.menu ul {left: 13px; top: 70px;width: 142px;letter-spacing: 0.1em;display: none;position:absolute;z-index: 1002;}
.menu ul li { }
.menu li a {background: rgb(255, 255, 255, 0.8);width: 142px;height: 46px;text-align: center;color: rgb(34, 34, 34);line-height: 46px;font-size: 1.4em;font-weight: blod;display: block;}
.menu li a:hover{background: rgb(198, 198, 198);}